@font-face {
  font-family: 'iconFont';
  src: url('~/src/asset/font/icon/icomoon.eot?x79ehw');
  src: url('~/src/asset/font/icon/icomoon.eot?x79ehw#iefix')
      format('embedded-opentype'),
    url('~/src/asset/font/icon/icomoon.ttf?x79ehw') format('truetype'),
    url('~/src/asset/font/icon/icomoon.woff?x79ehw') format('woff'),
    url('~/src/asset/font/icon/icomoon.svg?x79ehw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
